<mat-dialog-content class="dialog-content">
  <mat-card appearance="outlined" class="location-name">
    <mat-card-content>
      {{ data.weatherResponse.name }}
    </mat-card-content>
  </mat-card>

  <div class="grid-container">
    <div class="column">
      <h3>Location</h3>
      <p><strong>Country:</strong> {{ data.weatherResponse.country }}</p>
      <p><strong>Local time:</strong> {{ data.weatherResponse.localtime }}</p>
    </div>

    <div class="column">
      <h3>Weather</h3>
      <p><strong>Temp:</strong> {{ data.weatherResponse.tempC }} °C</p>
      <p><strong>Wind:</strong> {{ data.weatherResponse.windKph }} km/h</p>
    </div>
  </div>

  <div *ngIf="data.weatherResponse.airQuality">
    <h3>Air Quality</h3>
    <pre>{{ data.weatherResponse.airQuality | json }}</pre>
  </div>
</mat-dialog-content>
